In [12]:
import numpy as np
import pandas as pd

df = pd.read_csv(
    "e_commerce.csv",
    dtype={
        "order_id": np.int16,
        "quantity": np.int8,
        "shipping_days": np.int8,
    },
    true_values=['Yes'],
    false_values=['No'],
    index_col=0,
)
df['order_date'] = pd.to_datetime(df['order_date'])
df.head()

,customer_id,order_date,product_category,product_name,quantity,unit_price,discount_pct,payment_method,country,city,shipping_days,customer_segment,return_status
order_id,,,,,,,,,,,,,
1001,CU-201,2020-01-15,Electronics,Wireless Headphones,1,89.99,0.05,Credit Card,USA,New York,3,Premium,False
1002,CU-156,2020-01-16,Clothing,Men's Jeans,2,45.50,0.15,PayPal,UK,London,5,Standard,True
1003,CU-342,2020-01-18,Home & Kitchen,Blender,1,32.75,0.00,Debit Card,Canada,Toronto,7,Standard,False
1004,CU-201,2020-02-02,Electronics,Smartphone,1,699.00,0.10,Credit Card,USA,New York,2,Premium,False
1005,CU-499,2020-02-05,Books,Python Programming,3,24.99,0.20,PayPal,Australia,Sydney,10,Budget,False

In [16]:
df.loc[df["return_status"]==True,["product_name"]]

                 product_name
order_id
1002              Men's Jeans
1007                Air Fryer
1012                    Mixer
1019              Men's Shirt
1027             Men's Shorts
1035      External Hard Drive
1044            Women's Skirt

In [ ]:
unit_price_after_discount = np.round(df['unit_price'] * (1 - df['discount_pct']), 2)

df.insert(7, "unit_price_after_discount", unit_price_after_discount)
df.insert(8, "total_price_after_discount", unit_price_after_discount * df['quantity'])

In [49]:
df.insert(6, "total_price", df['unit_price'] * df['quantity'])

In [50]:
df.head()

,customer_id,order_date,product_category,product_name,quantity,unit_price,total_price,discount_pct,unit_price_after_discount,total_price_after_discount,payment_method,country,city,shipping_days,customer_segment,return_status
order_id,,,,,,,,,,,,,,,,
1001,CU-201,2020-01-15,Electronics,Wireless Headphones,1,89.99,89.99,0.05,85.49,85.49,Credit Card,USA,New York,3,Premium,False
1002,CU-156,2020-01-16,Clothing,Men's Jeans,2,45.50,91.00,0.15,38.67,77.34,PayPal,UK,London,5,Standard,True
1003,CU-342,2020-01-18,Home & Kitchen,Blender,1,32.75,32.75,0.00,32.75,32.75,Debit Card,Canada,Toronto,7,Standard,False
1004,CU-201,2020-02-02,Electronics,Smartphone,1,699.00,699.00,0.10,629.10,629.10,Credit Card,USA,New York,2,Premium,False
1005,CU-499,2020-02-05,Books,Python Programming,3,24.99,74.97,0.20,19.99,59.97,PayPal,Australia,Sydney,10,Budget,False

In [60]:
pd.DataFrame({"Mean price before discount": [df["total_price"].mean()], "Mean price after discount": [df["total_price_after_discount"].mean()]}, index=["Mean price"])

            Mean price before discount  Mean price after discount
Mean price                     167.908                   154.3442

In [61]:
LE=df["total_price_after_discount"]*47.77
df.insert(9, "total_price_after_discount_in_LE", LE)

In [97]:
df.head()

,customer_id,order_date,product_category,product_name,quantity,unit_price,total_price,discount_pct,unit_price_after_discount,total_price_after_discount_in_LE,total_price_after_discount,payment_method,country,city,shipping_days,customer_segment,return_status
order_id,,,,,,,,,,,,,,,,,
1001,CU-201,2020-01-15,Electronics,Wireless Headphones,1,89.99,89.99,0.05,85.49,4083.8573,85.49,Credit Card,USA,New York,3,Premium,False
1002,CU-156,2020-01-16,Clothing,Men's Jeans,2,45.50,91.00,0.15,38.67,3694.5318,77.34,PayPal,UK,London,5,Standard,True
1003,CU-342,2020-01-18,Home & Kitchen,Blender,1,32.75,32.75,0.00,32.75,1564.4675,32.75,Debit Card,Canada,Toronto,7,Standard,False
1004,CU-201,2020-02-02,Electronics,Smartphone,1,699.00,699.00,0.10,629.10,30052.1070,629.10,Credit Card,USA,New York,2,Premium,False
1005,CU-499,2020-02-05,Books,Python Programming,3,24.99,74.97,0.20,19.99,2864.7669,59.97,PayPal,Australia,Sydney,10,Budget,False

In [96]:
pd.DataFrame((df.loc[df['customer_segment'] == "Premium", ["country"]].value_counts().astype(np.int8)))

         count
country
USA         20